.hb-header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  transition: all ease-in-out 0.3s;
  &.sticky {
    background-color: $hb-background;
    background-color: #10101eeb;
    backdrop-filter: blur(10px);
  }
  .hb-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 24px;
    @media (max-width: 991px) {
      padding: 16px;
    }
    .hb-header-heading {
      display: flex;
      align-items: center;
      .hb-logo {
        width: 206px;
        text-decoration: none;
        font-size: 28px;
        color: $hb-white-color;
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        @media (max-width: 991px) {
          width: auto;
          img {
            height: 42px;
            margin-right: 12px;
          }
          span {
            display: none;
          }
        }
        img {
          height: 45px;
          margin-right: 10px;
        }
      }
      .breadcrumb {
        padding-left: 24px;
        margin-bottom: 0;
        @media (max-width: 991px) {
          display: none;
        }
        .breadcrumb-item {
          font-weight: 500;
          display: inline-flex;
          align-items: center;
          color: $hb-white-color;
          &.active {
            color: $hb-text-color;
          }
          a {
            color: $hb-white-color;
            text-decoration: none;
          }
        }
      }
      .hb-header-title {
        margin-bottom: 0;
        font-size: 16px;
        padding-left: 24px;
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    .hb-header-menu {
      display: inline-flex;
      align-items: center;

      @media (max-width: 767px) {
        .hb-user-logged {
          display: none;
        }
      }
      .hb-header-btn {
        padding: 8px 24px;
        border-radius: 16px;
        box-shadow: none;
        outline: 0;
        @media (max-width: 767px) {
          padding: 6px 15px;
          font-size: 14px;
          margin-right: 10px;
          svg {
            display: none;
          }
          &.hb-btn-withdraw {
            span {
              display: none;
            }
            svg {
              display: block;
            }
          }
        }
        min-width: auto;
        font-size: 16px;
        display: inline-flex;
        align-items: center;
        margin-right: 24px;
        .logout {
          transition: all ease-in-out 0.3s;
          color: $hb-primary-color !important;
        }
        &:hover {
          .logout {
            color: $hb-white-color !important;
          }
        }
        svg {
          width: 20px;
          min-width: 20px;
          height: 20px;
          margin-right: 6px;
        }
        &.hb-btn-deposit {
          margin-right: 10px;
        }
        &.hb-btn-withdraw {
          background-color: $hb-background-secondary;
          border-color: $hb-background-secondary;
          color: $hb-white-color;
          &:hover {
            background-color: $hb-primary-color;
            border-color: $hb-primary-color;
          }
        }
      }
    }
  }
}
.hbl-header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  transition: all ease-in-out 0.3s;
  &.sticky {
    background-color: $hb-background;
    background-color: #10101eeb;
    backdrop-filter: blur(10px);
  }
  // @media (max-width: 576px) {
  //   .btn.btn-primary {
  //     padding: 8px 20px;
  //     min-width: auto;
  //   }
  // }
  .hbl-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    height: $hb-header-height;
    @media (max-width: 767px) {
      padding-left: 8px;
      padding-right: 8px;
    }
    .hbl-header-logo {
      margin-right: 20px;
      @media (max-width: 576px) {
        margin-right: 0;
        img {
          height: 42px;
        }
      }
    }
    .hbl-header-actions {
      display: inline-flex;
      align-items: center;
      @media (max-width: 767px) {
        .btn {
          padding: 8px 20px;
          min-width: 100px;
        }
      }
      // .hbl-toggle-header {
      //   position: absolute;
      //   top: 24px;
      //   right: 32px;
      // }
      // @media (max-width: 991px) {
      //   position: fixed;
      //   top: 0;
      //   left: 0;
      //   width: 100vw;
      //   height: 100vh;
      //   transition: all ease-in-out 0.3s;
      //   background-color: $hb-background;
      //   padding: 80px 32px;
      //   flex-direction: column;
      //   align-items: center;
      //   justify-content: flex-start;
      //   transform: translateX(100%);
      //   &.show {
      //     transform: translateX(0);
      //   }
      //   .hbl-header-menu,
      //   .hbl-header-buttons {
      //     display: flex;
      //     flex-direction: column;
      //     align-items: center;
      //   }
      //   .btn-default {
      //     margin-bottom: 16px;
      //   }
      // }
    }
    .hbl-header-menu {
      .hbl-header-menu-item {
        font-size: 18px;
        color: $hb-white-color;
        font-weight: 500;
        padding: 14px 20px;
        transition: all ease-in-out 0.3s;
        &:hover {
          color: $hb-primary-color;
        }
      }
    }
    .hbl-toggle-header {
      display: none;
      border: 0;
      outline: 0;
      background-color: transparent;
      border-radius: 4px;
      margin-left: 6px;
      padding: 10px;
      border-radius: 4px;
      @media (max-width: 991px) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
