.hb-user-card {
  position: relative;
  img {
    width: 100%;
  }
  span {
    position: absolute;
    top: 49.12%;
    left: 50.2%;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 24px;
    display: inline-flex;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media(max-width:1399px){
        font-size: 20px;
    }
  }
}
