$hb-font-family: "AmpleSoft Pro", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$hb-header-height: 100px;
$hb-sidebar-width: 230px;
$hb-sidebar-mb-width: 70px;
// Colors
$hb-primary-color:#e6007a;
$hb-background: #10101e;
$hb-background-secondary:#18182a;
$hb-background-card: #0e0e1a;
// Text color
$hb-heading-text-color: #fff;
$hb-text-color: #b1afcd;
$hb-white-color: #fff;
