.hb-create-an-account{
    .hb-card{
        background-image: linear-gradient(0deg, rgba(9, 10, 26, 0.9), rgba(9, 10, 26, 0.7)), url(/assets/images/create-account-bg.png);
        border-radius: 2rem;
        box-shadow: none;
        margin-bottom: 0;
    }
}