.hb-omi-channel {
  padding-bottom: 80px;
  text-align: center;
  background-image: url(/assets/images/wel-map.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  .hb-card {
    padding: 0 !important;
    background-color: transparent !important;
    background-color: $hb-background-secondary;
    a {
      svg {
        height: 18px;
        width: auto;
      }
      &.btn-secondary {
        background-color: $hb-background-secondary;
        border-color: $hb-background-secondary;
        &:hover {
          background-color: $hb-primary-color;
          border-color: $hb-primary-color;
        }
      }
    }
  }
  .hb-omi-channel-image {
    text-align: center;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    .hb-omi-channel-img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(/assets/images/logo-s.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 60px auto;
      transform-origin: center center;
      @media(max-width:767px){
        width: 300px;
      }
      img{
        animation-name: spin2;
        animation-duration: 15s;
      }
    }
    img {
      animation-name: spin;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      width: 400px;
      max-width: 90%;
    }
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
